* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.common {
    padding: 1rem;
}

.flex {
    display: flex;
}

#btn {
    background: #251D3A;
    color: white;
}

#btn:hover {
    background: #2A2550;
    color: white;
}

.btn-close {
    padding-right: 2rem;
}

.edit {
    padding: .5rem 0 0 2rem;
    color: #FF7700;
}

input {
    padding: 1rem;
}